#header {
    width: auto;
    height: 40px;
    padding: 10px 40px;
    background: #27ae60;
    line-height: 40px;
    color: #ffffFF;
    overflow: hidden;
}

div.breadcrumbs {
    background: #2d463d;
    padding: 10px 40px;
    border: none;
    font-size: 14px;
    color: #ffffff;
    text-align: left;
}

.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    background: #79c88a;
    color: #fff;
}